body {
    background: url('../images/crystalBg.png') repeat;
    font-family: 'Arimo', sans-serif;
    
    
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    word-break: keep-all ;
}



.jumbotron {
    background: #E37222;
    color: #fff;
    margin: -30px -30px 50px;
}

.container {
    background: #eee;
    padding: 40px;
}

section {
    margin: 40px 0;
}

#crystals img {
    border: 5px solid #eee;
}

#crystals img:hover {
    box-shadow: 0px 0px 5px #888888;
    border: 5px solid #fff;
    border-radius: 2px;
    
}